# Frontend Environment Variables
NEXT_PUBLIC_API_URL=http://localhost:5001
NEXT_PUBLIC_SOCKET_URL=http://localhost:5001

# Backend Environment Variables (server/.env)
PORT=5001
MONGODB_URI=mongodb+srv://mern:<password>@cluster0.pkapdfw.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development
